@model Cumulative_1.Models.TeacherCoursesViewModel


<h1>Teacher and Courses Details</h1>

<table>
    <thead>
        <tr>
            <th>Teacher Name</th>
            <th>Hire Date</th>
            <th>Employee Number</th>
            <th>Salary</th>
            <th>Courses Taught</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Teacher.TeacherFName @Model.Teacher.TeacherLName</td>
            <td>@Model.Teacher.TeacherHireDate.ToString("yyyy-MM-dd")</td>
            <td>@Model.Teacher.TeacherEmpNu</td>
            <td>$@Model.Teacher.TeacherSalary</td>
            <td>
                @if (Model.Courses != null && Model.Courses.Any())
                {
                    @foreach (var course in Model.Courses)
                    {
                        <span>@course</span>
                        @if (course != Model.Courses.Last())
                        {
                            <span>, </span>
                        }
                    }
                }
                else
                {
                    <span>No courses found</span>
                    <br />
                    <a href="/CoursePage/New" class="btn btn-xs btn-warning">Add a course</a>
                }
            </td>
        </tr>
    </tbody>
</table>

<div class="mt-30 d-flex gap-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="TeacherPage" asp-action="List">Back</a>

    <form method="get" action="/TeacherPage/DeleteConfirm/@Model.Teacher.TeacherId">
        <button type="submit" class="btn btn-danger">Delete Teacher</button>
    </form>

    <form method="get" action="/TeacherPage/Edit/@Model.Teacher.TeacherId">
        <button type="submit" class="btn btn-warning">Update teacher</button>
    </form>
</div>